/*https://developer.mozilla.org/es/docs/Learn/CSS/Building_blocks/The_box_model

Modelo de Caja:Es la forma en que CSS ve a los elementos HTML. Como si fueran cajas con las siguientes propiedades:
1. El contenido (content):El contenido del elemento HTML tomando en cuenta sus dimensiones.
2. El borde (border):Lo que delimita c/u de los elementos HTML.
3. El relleno (padding):Las distancias internas(Del borde al contenido).
4. El márgen (margin):Distancias externas(Entre el elemento HTML y sus elementos hermanos o padres).

Dentro del modelo de caja hay que considerar 4 lados:
1. Arriba (top).
2. Derecha (right).
3. Abajo (bottom).
4. Izquierda (left).
*/

h1 {
  width: 400px;
  height: 200px;
  text-align: center;
  /*propiedades de tipo shorthand*/
  border-color: cornflowerblue;
  border-top-color: rgb(81, 0, 255);
  border-width: thin; /*thin:1px, medium:3px, thick:5px*/
  border-style: groove;
  border: 2px dashed rgb(43, 43, 179);
}
.caja-dos {
  background-color: rgb(188, 122, 75);
  border: thin solid orange;
  /*
  Esto aplica para margin y padding
  1 valor = aplicar a los 4 lados
  2 valores =
  . primer valor es para los lados verticales (t/b)
  . segundo valor es para los lados horizontales (l/r)
  3 valores =
  . primer valor es para top
  . segundo valor es para los lados horizontales (l/r)
  . tercer valor es para bottom
   4 valores (🕒) =
  . primer valor es para top
  . segundo valor es para right
  . tercer valor es para bottom
  cuarto valor es para left
  */
  /*1 VALOR*/
  padding: 10px;
  margin: 10px;
  /*2 VALORES*/
  padding: 10px 20px;
  margin: 20px 10px;
  /*3 VALORES*/
  padding: 0 20px 10px;
  margin: 25px 15px 0;
  /*4 VALORES*/
  padding: 0 20px 10px 25px;
  margin: 50px 25px 15px 0;
}

/*
CAJA DE LINEA
-Ocupan el espacio necesario para mostrar su contenido.
-No tienen dimensiones modificables (alto,ancho).
-Permiten otros elementos a su lado.
-Padding y margin solo empujan a elementos adyacentes en horizontal, NUNCA EN VERTICAL.
CAJA DE BLOQUE
-Ocupan todo el ancho disponible, lo que genera saltos de línea.
-Tienen dimensiones modificables (alto,ancho).
-No permiten otros elementos a su lado (aunque especifique un ancho, siguen ocupando todo el espacio disponible a su ancho).
*/

.caja-linea,
.caja-bloque {
  background-color: cornflowerblue;
  width: 200px;
  height: 100px;
  border: medium solid black;
  padding: 16px;
  margin: 32px;
  text-align: center;
}
.caja-bloque {
  display: block;
}
.caja-linea {
  display: inline;
}

/*
PROPIEDAD DISPLAY
. inline
. block
. inline-block - Se comporta como un elemento de linea pero acepta modificar sus dimensiones (alto,ancho).
. none
. table
. list-item
- flex - curso aparte
- grid- curso aparte
*/

.caja-none,
.caja-linea-bloque,
.caja-hidden {
  background-color: darkolivegreen;
  color: white;
  width: 300px;
  height: 150px;
  border: medium solid black;
}

.caja-linea-bloque {
  display: inline-block;
}
.caja-none {
  display: none;
}
/*VISIBILITY*/
.caja-hidden {
  visibility: hidden;
}
/*OVERFLOW*/
.overflow {
  background-color: darkturquoise;
  width: 200px;
  height: 100px;
  overflow: visible;
  overflow: hidden;
  overflow: scroll;
  overflow: auto;
  /*
  overflow-x: scroll;
  overflow-x: scroll; 
  */
}

/*TAMAÑO DE CAJA*/
.box-sizing-content,
.box-sizing-border {
  background-color: deepskyblue;
  width: 400px;
  height: 200px;
  box-sizing: content-box;
  padding: 10px;
  border: thick solid black;
  /*w 400 +10+10 +5+5 = 430
    h 200 +10+10 +5+5 = 230*/
}
.box-sizing-border {
  box-sizing: border-box;
}

.container-col-3 {
  background-color: burlywood;
  width: 600px;
  height: 300px;
  margin-top: 20px;
}
.container-col-3 > * {
  box-sizing: border-box;
  width: 200px;
  border: thin solid rgb(138, 27, 27);
  padding: 10px;
  float: left;
}

/*
PAUL IRISH
 https://www.paulirish.com/2012/box-sizing-border-box-ftw/ 
 */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*FLOAT*/
.container-floats {
  background-color: cornflowerblue;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix {
  clear: both;
}

/*
COLAPSO DE MARGENES VERTICALES
LOS MARGENES SE SUPERPONEN, POR ESO HAY 16 Y NO 32
USAR O MARGIN-TOP O MARGIN-BOTTOM, NO LOS DOS A LA VEZ.
*/
.margin-collapse {
  background-color: skyblue;
}
.margin-collapse section {
  border: thin solid black;
  margin-top: 16px;
  margin-bottom: 16px;
}
/*
MARGENES HORIZONTALES SI SE SUMAN
*/
.margin-collapse span {
  display: inline-block;
  border: thin solid black;
  margin-right: 16px;
  margin-left: 16px;
}

/*CENTRADO DE CAJAS*/
.sitio-web {
  border: thin solid black;
  background-color: thistle;
  width: 800px;
  height: 1000px;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
}
