.color-by-name {
  background-color: coral;
  color: rebeccapurple;
  border: medium solid greenyellow;
}

/*
Sistema Hexadecimal
0123456789ABCDEF

RGB (Medios Digitales)  vs CMYK (Medios Impresos)

Colores en HEX va a ser colores de 6 dígitos #FF6600
*/

/*
Sistema RGB (RedGreenBlue)
Acepta 8 bits por canak
Bit(/0/1) 2^8=256
Por cada canal de color val del 0-255
*/
.color-hex {
  background-color: #ff6600;
  background-color: #f60;
  color: #12ac78;
  background-color: #00000050;
  background-color: #0003;
  border: medium solid #ffffff;
  border: medium solid #fff;
  border: medium solid #ff0000;
  border: medium solid #f00;
  border: medium solid #00ff00;
  border: medium solid #0f0;
  border: medium solid #0000ff;
  border: medium solid #00f;
  border: medium solid #000000;
  border: medium solid #000;
}
.color-rgb {
  background-color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  background-color: rgb(0, 0, 255);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.92);
  color: rgb(255, 102, 0);
  border: medium solid rgb(128, 109, 7);
}

/*
Sistema HSL (HueSaturationLightness)

El primer valor es Hue (Círculo Cromático)
0> red
60°> yellow
120°> green
180°> cyan
240°> blue
300°> magenta

El segundo valor es Saturation (Intensidad del Color)
0%>Escala de Grises
100%> Color Puro

El tercer valor es Lightness (Luminosidad del color)
0%> Negro
50%> Color Puro
100%> Blanco
*/
.color-hsl {
  background-color: hsl(0, 100%, 50%);
  background-color: hsl(120, 100%, 50%);
  background-color: hsl(240, 100%, 50%);
  background-color: hsl(30, 100%, 50%);
  background-color: hsla(30, 100%, 50%, 0.75);
  color: hsl(210, 0%, 0%);
  border: medium solid hsl(210, 75%, 65%);
}

/*
Valor transparent: color transparente: rgba(0,0,0,0)
Valor currentColor: Hereda el valor de la propiedad color, del ancestro que tenga definida esta propiedad, busca del ancestro más cercano al más alejado.
*/
.color-transparent-current {
  background-color: darkmagenta;
  background-color: currentColor;
  background-color: transparent;
  color: olive;
  border: medium solid currentColor;
}

.opacity {
  background-color: orchid;
  color: navy;
  border: medium solid black;
  opacity: 0.5;
  opacity: 1;
  opacity: 0;
  opacity: 0.75;
}

.opacity-00 {
  opacity: 0;
}

.opacity-10 {
  opacity: 0.1;
}
.opacity-20 {
  opacity: 0.2;
}
.opacity-30 {
  opacity: 0.3;
}
